Repository Dev-FE-2/toy-project1-team2-intranet-project, pull requests merged in 2024-11, with the labels that each got.

#106 [server] 직원 삭제 modal 적용
  server/api/admin.js
  src/components/common/pagenation/Pagenation.js
  src/components/ui/modal/Modal.js
  src/pages/admin/member/member-detail/MemberDetail.js
  src/pages/admin/member/member-management/MemberManagement.js
  src/pages/admin/member/upload-member/UploadMember.css
Labels: 🚀 FEAT, 🔩 SERVER

#107 [FEAT] firebase와 연동 구현
  package-lock.json
  package.json
  public/assets/imgs/profile/profile2.webp
  server/api/admin.js
  server/api/user.js
  src/components/admin/home/user-list/UserList.js
  src/components/admin/notice-detail/NoticeDetailItem.js
  src/components/admin/notice-profile/AttachProfileImageEvents.js
  src/components/admin/vacation-management/VacationHeader.js
  src/components/admin/vacation-management/VacationList.js
  src/components/common/header/Header.js
  src/components/common/notice/AdminNoticeList.js
  src/components/common/pagenation/Pagenation.js
  src/components/ui/modal/Modal.css
  src/components/ui/modal/Modal.js
  src/components/ui/modal/admin/adminModal.js
  src/components/ui/modal/user/userModal.css
  src/components/ui/modal/user/userModal.js
  src/components/user/form/vacation-request-form/VacationRequestForm.js
  src/components/user/home/notice-gallery/NoticeGallery.css
  src/components/user/home/punch-time/PunchTime.css
  src/components/user/home/punch-time/PunchTime.js
  src/components/user/peer-list/PeerList.css
  src/components/user/profile/ProfileImage.js
  src/components/user/vacation/vacation-header/VacationHeader.js
  src/components/user/vacation/vacation-list/VacationList.js
  src/components/user/vacation/vacation-table/VacationTable.css
  src/components/user/vacation/vacation-table/VacationTable.js
  src/components/user/work-info/WorkInfo.css
  src/components/user/work-info/WorkInfo.js
  src/pages/admin/member/member-detail/MemberDetail.js
  src/pages/admin/member/member-management/MemberManagement.css
  src/pages/admin/member/member-management/MemberManagement.js
  src/pages/admin/member/upload-member/UploadMember.css
  src/pages/admin/member/upload-member/UploadMember.js
  src/pages/admin/notice/edit-notice/EditNotice.js
  src/pages/admin/notice/upload-notice/UploadNotice.js
  src/pages/user/edit-profile/EditProfile.js
  src/pages/user/home/Home.js
  src/pages/user/notice/notice-detail/NoticeDetail.js
  src/pages/user/notice/notice-list/NoticeList.css
  src/pages/user/notice/notice-list/NoticeList.js
  src/pages/user/peer/Peer.js
  src/pages/user/vacation/vacation-management/VacationManagement.js
  src/pages/user/vacation/vacation-request/VacationRequest.js
  src/pages/user/work-detail/WorkDetail.js
  src/routes/Router.js
  src/utils/checkAttendance.js
  src/utils/extractParams.js
  src/utils/handleProfileImg.js
  src/utils/responsive.js
  src/utils/vacationStore.js
  src/utils/validation.js
Labels: 🚀 FEAT, 🔨 REFACTOR, 💻 FE, 🔩 SERVER

#111 [FIX] 오류 사항 수정
  index.html
  src/pages/user/course/Course.js
Labels: 🚨 HOTFIX

#117 [FEAT] 관리자 페이지에서 `admin.js`에서 `직원 등록`, `직원 삭제`, `휴가 승인`, `승인 취소` API를 수정합니다
  server/api/admin.js
Labels: 🔨 REFACTOR, 💻 FE, 🔩 SERVER
